body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(178, 225, 244);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: container-fade-in 1.5s ease-in-out forwards;
}

@keyframes container-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  animation: heading-slide-down 1.5s ease-in-out forwards;
}

@keyframes heading-slide-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  animation: label-fade-in 1s ease-in-out forwards;
}

@keyframes label-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  animation: input-fade-in 1s ease-in-out forwards;
}

@keyframes input-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  animation: button-
}